$colorWhite: #FFFFFF;
$colorBlack: #000000;
$colorBlue: #0049B0;
$colorLightGrey: #F4F5F7;
$colorGrey: #EAECF0;
$colorGreen: #34BF49;
$colorSky: #6DCFF6;
$colorPink: #F49A9E;
$colorRed: #ED1C24;
$colorYellow: #FFD700;
$colorLightYellow: #FFED85;
$colorOrange: #E7AB65;
$colorFontGrey: #808080;