header {
  transition: all .4s linear;

  .header-top {
    @include make-container();
    @include make-container-max-widths();
    padding: 25px 0;

    .row {
      @include media-breakpoint-only(xs) {
        margin: 0;
      }
    }

    &__logo {
      @include make-col-ready();
      @include media-breakpoint-only(xl) {
        @include make-col(3);
      }
      @include media-breakpoint-only(lg) {
        @include make-col(3);
      }
      @include media-breakpoint-only(md) {
        @include make-col(4);
      }
      @include media-breakpoint-only(sm) {
        @include make-col(4);
        @include make-col-offset(1);
      }
      @include media-breakpoint-only(xs) {
        @include make-col(6);
        @include make-col-offset(3);
        text-align: center;
      }

      img {
        width: 100%;
        @include media-breakpoint-only(xs) {
          width: 160px;
        }
      }
    }

    .search-mobile {
      display: none;
      @include make-col-ready();
      @include media-breakpoint-only(xs) {
        @include make-col(3);
        display: block;
      }

      &__btn {
        display: inline-block;
        width: 30px;
        height: 30px;
        text-align: center;
        font-size: 26px;
        color: $colorBlue;
        float: right;
        margin-top: 6px;
        margin-right: 14px;
        border: none;
        background-color: transparent;
        cursor: pointer;
      }
    }

    .header-search {
      display: block;
      @include make-col-ready();
      @include media-breakpoint-only(xl) {
        @include make-col(4);
        @include make-col-offset(5);
      }
      @include media-breakpoint-only(lg) {
        @include make-col(4);
        @include make-col-offset(5);
      }
      @include media-breakpoint-only(md) {
        @include make-col(5);
        @include make-col-offset(3);
      }
      @include media-breakpoint-only(sm) {
        @include make-col(7);
      }
      @include media-breakpoint-only(xs) {
        @include make-col(12);
        position: absolute;
        top: 70px;
        margin-top: 11px;
        min-height: 66px;
        padding: 15px;
        background-color: $colorLightGrey;
        display: none;
        z-index: 10;
        transition: all .3s linear;
      }

      &__btn {
        display: none;
        @include media-breakpoint-only(xs) {
          display: block;
        }
      }

      .form-search {
        position: relative;
        width: 100%;
        height: 35px;
        margin-top: 17px;
        @include media-breakpoint-only(lg) {
          margin-top: 10px;
        }
        @include media-breakpoint-only(md) {
          margin-top: 10px;
        }
        @include media-breakpoint-only(sm) {
          margin-top: 5px;
        }
        @include media-breakpoint-only(xs) {
          margin-top: 0;
        }

        &__inp {
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: 35px;
          padding: 0 75px 0 5px;
          border: 1px solid $colorGrey;
        }
        &__btn {
          position: absolute;
          top: 0;
          right: 0;
          width: 70px;
          height: 35px;
          padding: 9px;
          border: 1px solid $colorBlue;
          background-color: $colorBlue;
          color: $colorWhite;
          text-align: center;
          z-index: 2;
          cursor: pointer;
        }
      }
    }
  }

  .header-list {
    background-color: $colorLightGrey;

    @include media-breakpoint-only(sm) {
      margin-top: -20px;
      background-color: #fff;
      position: relative;
      z-index: 2;
    }
    @include media-breakpoint-only(xs) {
      margin-top: -20px;
      background-color: #fff;
      position: relative;
      z-index: 2;

    }

    &__btn {
      background-color: transparent;
      color: $colorBlue;
      font-size: 30px;
      border: none;
      display: none;
      @include media-breakpoint-only(sm) {
        margin-bottom: 17px;
        margin-top: -41px;
        display: block;
      }
      @include media-breakpoint-only(xs) {
        margin-bottom: 17px;
        margin-top: -41px;
        margin-left: 35px;
        display: block;
      }
    }

    &__nav {
      @include make-container();
      @include make-container-max-widths();
      padding: 0;
    }

    .navbar-nav {
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }

    .navbar-nav .nav-link {
      display: inline-block;
      width: 100%;
      height: 60px;
      line-height: 60px;
      font-family: "RobotoBold", sans-serif;
      font-size: 14px;
      text-transform: uppercase;
      text-align: center;
      color: #000;

      @include media-breakpoint-only(sm) {
        text-align: left;
        padding: 0 15px;
        background-color: #EAECF0;
        margin-top: 1px;
      }
      @include media-breakpoint-only(xs) {
        text-align: left;
        padding: 0 35px;
        background-color: #EAECF0;
        margin-top: 1px;
      }

      &:hover {
        background-color: $colorGrey;
        color: $colorBlue;
      }
    }
    .nav-link.active {
      background-color: $colorGrey;
      color: $colorBlue;
    }

  }
}

.menu-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

#menu-scroll-mobile {
  background-color: $colorWhite;
  position: inherit;

  @include media-breakpoint-only(sm) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
  }
  @include media-breakpoint-only(xs) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
  }
}