//================== ШРИФТ ===================//
$mont: 'montserratregular', sans-serif;
$roboto: 'roboto_slabregular', sans-serif;
//================== ЦВЕТ ===================//
$red: #BF301C;
$grey: #E1E1E1;
$text_color: #545454;

//============= ОБЩИЕ НАСТРОЙКИ =============//
body {
	font-family: $roboto;
	margin: 0;
	padding: 0;
	font-size: 14px;
	color: $text_color;
}

section {
	padding: 100px 0;
}

h2 {
	margin: 0;
	padding: 0;
	font-size: 20px;
	text-transform: uppercase;
	font-family: $mont;
	text-align: center;

	&:after {
		content: '';
		background-color: $text_color;
		width: 55px;
		height: 2px;
		display: block;
		margin: 30px auto;
	}
}

h3 {
	font-size: 16px;
	margin-bottom: 70px;
	text-align: center;
}

h4 {
	font-size: 14px;
	font-family: $mont;
	text-transform: uppercase;
	margin: 25px 0;

}

p {
	line-height: 24px;
}
//============== HEADER ==============//
header {
	background: url('../images/bgHeader.jpg') no-repeat;
	background-size: cover;
	color: #fff;
	font-family: $mont;

	.headerTop {
		padding-top: 40px;
		text-transform: capitalize;
		
		.logo {
			color: #fff;
			padding: 0;
			font-size: 24px;
			font-weight: bold;
			letter-spacing: 1px;
		}

		ul {
			a {
				color: #fff;
				padding: 0 20px;
				font-size: 14px;

				&:hover {
					background-color: transparent;
					text-decoration: underline;
				}
			}
		}
	}

	.headerMain {
		padding: 250px 0;
		text-align: center;
		
		h1 {
			font-size: 48px;
			text-transform: uppercase;
		}

		p {
			font-family: $roboto;
			font-size: 20px;
			text-transform: capitalize;
			margin-top: 25px;
			margin-bottom: 40px;
		}

		button {
			background-color: transparent;
			font-weight: 16px;
			text-transform: uppercase;
			padding: 15px 30px;
			border: 2px solid #fff;
			border-radius: 4px;
			transition: all 0.3s ease-in-out;

			&:hover {
				background-color: #fff;
				color: $red;
			}
		}
	}
}
//============= SERVICES =============//
#services {
	text-align: center;

	a {
		width: 85px;
		height: 85px;
		color: $red;
		display: table;
		border-radius: 50%;
		margin: 0 auto; 
		border: 2px solid $grey;
		transition: all 0.3s ease-in-out;

		&:hover {
		    background-color: $red;
		    color: #fff;
		    border: 2px solid $red;
		    border-radius: 50%;
		    cursor: pointer;
		    text-decoration: none;
	    }

		i {
			display: table-cell;
			vertical-align: middle;
		    text-align: center;
		}
	}
}
//============= ABOUT US =============//
#about {
	background-color: #F7F7F7;

	p {
		margin-bottom: 70px;
	}

	.slider_about {
		text-align: center;
		font-size: 13px;

		.name {
			text-transform: uppercase;
			display: block;
			margin: 15px 0 5px;
		}

		.job {
			text-transform: capitalize;
			display: block;
			margin: 0;
		}

		.slide {
			
			.hover_menu {
				position: relative;
				overflow: hidden;
				width: 263px;
				height: 250px;

				img {
					position: absolute;
				}

				.content_hover_menu {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: rgba(0,0,0,0.4);
					opacity: 0;
					transition: all 0.5s ease-in-out;

					a {
						margin-top: 70%;
						color: #fff;
						display: table;
						display: inline-block;
						transition: all 0.3s ease-in-out;

						&:hover {
							background-color: $red;
							text-decoration: none;
						}
					}

					i {
						display: table-cell;
						vertical-align: middle;
						text-align: center;
						width: 35px;
						height: 35px;
						margin: 5px;
					}
				}
			}

			.hover_menu:hover .content_hover_menu {
				opacity: 1;
			}
		}
	}
}
//============= PORTFOLIO ============//
#portfolio {
	.controls {
		ul {
			margin-bottom: 70px;
			text-align: center;
			padding: 0;

			li {
				font-size: 16px;
				display: inline-block;
				margin: 0 20px;
				cursor: pointer;
				

				&:hover {
					color: $red;

				}
			}
		}
	}

	.portfolioBlock {
		text-align: center;

		.category-1, .category-2,
		.category-3, .category-4 {
			width: 360px;
			height: 320px;
			display: inline-block;
			text-align: center;
			position: relative;
			overflow: hidden;
			margin: 5px;
			//===== HOVER MENU =====//
			.hover_menu {

				img {
					position: absolute;
					top: 0;
					left: 0;
				}
				//===== CONTENT HOVER MENU ====//
				.content_hover_menu {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: rgba(191,48,28,0.7);
					color: #fff;
					opacity: 0;
					transition: all 0.5s ease-in-out;

					h3 {
						margin-top: 100px;
						margin-bottom: 0;
						font-size: 18px;
						text-transform: uppercase;
					}

					h4 {
						font-size: 12px;
						text-transform: capitalize;
						margin-top: 15px;
						margin-bottom: 0;
					}

					a {
						margin-top: 25px;
						padding: 15px 25px;
						text-transform: uppercase;
						font-size: 14px;
						background-color: #fff;
						color: $red;
						border: 2px solid #fff;
						transition: all 0.5s ease-in-out;
						display: inline-block;
						
						&:hover {
							color: #fff;
							background-color: transparent;
							text-decoration: none;
						}
					}
				}
				//=========================//
			}

			.hover_menu:hover .content_hover_menu {
				opacity: 1;
			}
		}

		.mix {
			display: none;
		}
	}
}
//=============== WORK ===============//
#work {
	background: url('../images/bgWork.jpg') no-repeat;
	background-size: cover;
	color: #fff;
	text-align: center;

	h3 {
		font-family: $roboto;
		font-size: 30px;
		line-height: 45px;
		margin: 0;
	}

	span {
		text-transform: uppercase;
	}

	button {
		background-color: transparent;
		font-weight: 18px;
		text-transform: uppercase;
		margin-top: 50px;
		padding: 15px 30px;
		border: 2px solid #fff;
		border-radius: 4px;
		transition: all 0.3s ease-in-out;

		&:hover {
			background-color: #fff;
			color: $red;
		}
	}
}
//============== RECENT ==============//
#recent {
	img {
		margin-bottom: 30px;
	}

	.calendar {
		width: 75px;
		height: 75px;
		text-transform: uppercase;
		border: 2px solid $text_color;
		float: left;
		text-align: center;
		margin-right: 30px;
		padding-top: 17px;
		display: inline-block;
		line-height: 20px;

		.number {
			font-size: 24px;
			font-weight: bold;
			font-family: $mont;
		}

		.month {
			font-size: 14px;
			font-weight: bold;
			font-family: $mont;
		}
	}

	.startup {
		text-transform: uppercase;
		color: $red;
		font-size: 16px;
		margin: 0;
		margin: 10px 0;
	}

	.startup_1 {
		text-transform: uppercase;
		font-size: 16px;
		margin: 0;
		margin: 10px 0;
	}

	.by {
		font-size: 13px;
		font-style: italic;
		text-transform: capitalize;
		margin: 10px 0;
	}

	.by_1 {
		color: $red;
	}

	p {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	a {
		color: $red;
		text-transform: uppercase;
		font-weight: bold;
	}

	.href {
		color: $text_color;
	}
}
//============= CLIENTS ==============//
#clients {
	background-color: #F7F7F7;
	font-family: $roboto;

	img {
		margin: 0 25px;
	}

	p {
		font-style: italic;
		font-size: 18px;
		margin: 70px 0 30px 0;
	}

	.clients_name {
		font-size: 20px;
	}
}
//============== CONTACT =============//
#contact {
	
	.address, .hotline, .email {
		margin-bottom: 30px;

		i {
			width: 25px;
			height: 25px;
			display: inline-block;
		}

		#address, #hotline, #email {
			text-transform: uppercase;
			font-weight: bold;
			font-size: 16px;
			font-family: $mont;
			margin-bottom: 20px;
			line-height: 25px;
			vertical-align: top;
		}

		#address_1, #hotline_1, #email_1 {
			font-size: 12px;
			line-height: 20px;
			margin-left: 30px;
			display: block;
		}
	}

	input {
		width: 100%;
		height: 45px;
		background-color: transparent;
		border: 1px solid $text_color;
		font-size: 14px;
		margin-bottom: 25px;
		padding: 0 15px;
	}

	textarea {
		width: 100%;
		height: 100px;
		background-color: transparent;
		border: 1px solid $text_color;
		font-size: 14px;
		margin-bottom: 25px;
		padding: 15px;
	}

	button {
		background-color: transparent;
		border: 1px solid $text_color;
		font-size: 14px;
		margin-bottom: 25px;
		margin-right: 35px;
		padding: 15px 35px;
		text-transform: uppercase;
		transition: all 0.3s ease-in-out;

		&:hover {
			background-color: $red;
			border: 1px solid $red;
			color: #fff;
		}
	}
}
//============== FOOTER ==============//
#footer {
	background-color: $red;
	text-align: center;
	color: #fff;

	.social {
		&:after {
			content: '';
			background-color: #fff;
			width: 55px;
			height: 2px;
			display: block;
			margin: 25px auto;
		}

		a {
			display: table;
			display: inline-block;
			text-align: center; 
			margin: 10px;
			border: 2px solid #fff;
			border-radius: 50%;
			color: #fff;
			transition: all 0.3s ease-in-out;

			&:hover {
				text-decoration: none;
				border: 2px solid #fff;
				color: $red;
				background-color: #fff;
			}

			i {
				display: table-cell;
				vertical-align: middle;
				width: 45px;
				height: 45px;
			}
		}
	}

	.copy {
		font-size: 14px;
		text-transform: uppercase;
		margin-top: 30px;
		letter-spacing: 1px;
	}
}
//============== MEDIA ===============//
@media screen and (max-width: 992px) {
	body {
		text-align: center;
		h3 {
			line-height: 25px;
		}

		#services {
			p {
				margin-bottom: 50px;
			}
		}

		#recent {
			img {
				width: 460px;
				margin: 30px auto;
			}
			.calendar {
				float: none;
				margin: 0 0 20px 0;
			}
		}

		#clients {
			img {
				margin: 10px 20px;
			}
		}

		#contact {
			.address, .hotline, .email {
				#address_1, #hotline_1, #email_1 {
					margin-left: 0;
				}
			}
			button {
				display: block;
				margin: 10px auto 40px;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	body {
		header {
			.headerTop {
				a {
					margin-left: 15px;
					margin-top: 5px;
				}
				button {
					margin-top: 0;
					padding-top: 0;
				}
				li {
					margin: 10px 0;
				}
			}
		}
		#portfolio {
			.controls {
				ul {
					li {
						display: block;
						margin: 10px;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 410px) {
	#portfolio {
		.controls {
			ul {
				li {
					display: block;
					margin: 10px;
				}
			}
		}
		.portfolioBlock {
			.category-1, .category-2,
			.category-3, .category-4  {
				width: 260px;
				height: 220px;
				
				.hover_menu {
					.content_hover_menu {
						h3 {
							margin-top: 40px;
						}
					}
				}
			}
		}
	}
}